<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
      <connectionstrings>
          Data Source=cenfoserver.database.windows.net;Initial Catalog=exam1cenfo;User ID=cenfodavid;Password=cenfo2019$%
      </connectionstrings>
    </startup>
</configuration>